    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">OMOCHA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <!--Brands Dropdown Items-->                    
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for category in categories %}
                                        <li>
                                            <a class="dropdown-item" href="{{url_for('get_category', id = category.id)}}">{{category.name}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <!--Category Dropdown Items--> 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brands</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for brand in brands %}
                                        <li>
                                            <a class="dropdown-item" href="{{url_for('get_brand', id = brand.id)}}">{{brand.name}}</a>
                                        </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}">
                                <input type="search" placeholder="Search in OMOCHA" class="form-control mr-sm-1" style="margin-left: 50px; width: 220px; text-align: center;" name="query">
                                <button class="btn my-sm-0" type="submit">&#128269;</button>
                            </form>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li 
                            class="nav-item"><a class="nav-link" href="{{url_for('customer_logout')}}" style="margin-left: 220px;">Logout</a>
                        </li>
                        {% else %}
                        <li 
                        class="nav-item"><a class="nav-link" href="{{url_for('customerLogin')}}" style="margin-left: 220px;">Log In</a>
                        </li>
                        {% endif %}
                        <li>
                        <!--Carty B-->
                        <form class="d-flex ml-4">
                            <a class="btn btn-outline-dark ml-4" href="{{url_for('getCart')}}">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">({{session['ShoppingCart']|length}})</span>
                            </a>
                        </form>
                        </li>
                        <!--Nav end-->
                    </ul>
                </div>
            </div>
        </nav>